
// Content Themes
// ––––––––––––––––––––––––––––––––––––––––––––––––––

// HOME CASE STUDIES

.case
	min-height: 100vh

.case--epldt, .case--nimbyx, .case--kite, .case--independent


	h2.company
		margin-bottom: .5rem

	h5
		text-transform: uppercase
		font-size: 1.1rem
		margin-bottom: .5rem
		font-weight: 100
		font-family: "Open Sans"
		letter-spacing: .02rem

	.duration
		color: fade-out($charcoal, .8)

	p.description
		margin: 2rem 0

	.case-shot
		max-width: 327px
		overflow: hidden

// Larger than  Mobile
@media (min-width: 40.0rem)

	.case
		min-height: 60vh

		.case-details
			padding: 0 5rem

		.case-shot
			max-width: 940px
			overflow: visible
