<div class="container-full bottom-container">
        <footer class="wrapper">
          <div class="footer-logo">
            <a href="/"><picture class="logo-colored">
                <source media="(min-width: 40rem)" srcset="/images/logo.svg">
                <img src="/images/logo.svg" alt="Flowers" style="width:auto;">
              </picture></a>
            </div>
            <div class="row footer-details">
              <div class="column column-50-sm" style="margin-bottom: 1rem">
                <p class="text-invert-fade">I’m looking for a full-time UX and product designer position, worldwide.  I’m also looking to connect with fellow designers and am open to speaking opportunities. Let’s grab a coffee or two, and chat if you’re in Makati!</p>
                <button class="button-outline"><a href="mailto:uxellesa@gmail.com">Contact me</a></button>
                <button class="button-clear"><a href="/docs/ELSabasaje_Resume_2018.pdf">View my resume ↓</a></button>
              </div>
              <div class="column">
                <address class="vcard">
                  <p><a class="tel" href="tel:+639285504378">+63 928 550 4378</a></p>
                  <p><a href="mailto:uxellesa@gmail.com">uxellesa@gmail.com</a></p>
                  <nav class="social">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/ellesa"><i class="fab fa-linkedin"></a></i></li>
                      <li><a href="https://www.behance.net/skyellesa"><i class="fab fa-behance"></i></a></li>
                      <li><a href="https://medium.com/@ellesa"><i class="fab fa-medium"></i></a></li>
                      <li><a href="https://github.com/emsky"><i class="fab fa-github"></i></a></li>
                      <li><a href="https://codepen.io/emsky/"><i class="fab fa-codepen"></i></a></li>
                      <li><a href="https://twitter.com/skyellesa"><i class="fab fa-twitter"></i></a></li>
                      <li><a href="https://instagram.com/skyellesa"><i class="fab fa-instagram"></i></a></li>
                      <li><a href="https://vimeo.com/skyellesa"><i class="fab fa-vimeo"></i></a></li>
                    </ul>
                  </nav>
                </address>
              </div>
              <div class="column">
                <div class="photo-wrapper">
                  <picture class="photo">
                      <source media="(min-width: 40rem)" srcset="/images/photobw.jpg">
                      <img src="/images/photobw.jpg" alt="Flowers" style="width:auto;">
                    </picture>
                </div>
              </div>
            </div>
            <div class="row copyright">
              <div class="column">
                <p>Made with &nbsp;<i class="em em-purple_heart" style="height: 16px;width: 16px;"></i>  <br><a href="/colophon/">Here's the colophon</a></p>
              </div>
              <div class="column">
                <p><br>Copyright 2018 Ellesa Sabasaje</p>
              </div>

            </div>

        </footer>
      </div>

      <!-- End Document
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->

      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
      <script src="/js/typed.min.js"></script>

      <script>
      window.jQuery || document.write('<script src="/js/jquery-3.3.1.min.js"><\/script>')
      window.TweenMax || document.write('<script src="/js/TweenMax.min.js"><\/script>')
      </script>

      <script src="/js/main.js"></script>

      </body>
      </html>
