<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="author" content="Ellesa Sabasaje, UXD">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:600,700,800" rel="stylesheet">
  <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Google+Sans:300,700,900" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/astrid.css">
  <link rel="stylesheet" href="/css/milligram.css">
  <link rel="stylesheet" href="/css/fa.css">


  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">


  <!-- Global site tag (gtag.js) - Google Analytics
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-124585630-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-124585630-1');
  </script>


</head>
<body id="{{ include.customtheme }}">

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <header>
      <!-- <div class="notify">Work in progress! <i class="em-svg em-building_construction"></i></div> -->
      <nav class="navbar row row-nowrap">
            <div class="nav__logo fade-in column column-50 logo logo-mono"><a href="/"><img id="personalLogo" src="/images/logo.svg" alt=""></a> </div>
            <div class="nav__menu column column-50 navicon">
              <div class="navmenu">
                <div class="menu-bg"></div>
                <div class="menu">
                  <div class="menu__content">
                    <ul>
                      <li><a href="/work">Work <sup>13</sup></a></li>
                      <li><a href="/about">About</a></li>
                      <li><a href="/docs/ELSabasaje_Resume_2019.pdf">Resume</a></li>
                      <li><a href="mailto:els@skyellesa.com">Contact</a></li>
                      <li><a href="https://medium.com/@ellesa">Blog</a></li>
                    </ul>
                    <address>
                      <p><a href="tel:+31621237108">+31 621 237 108 <i class="fas fa-sm fa-phone"></i></a></p>
                      <p><a href="mailto:els@skyellesa.com">els@skyellesa.com<i class="fas fa-sm fa-envelope"></i></a></p>
                    </address>
                  </div>
                </div>
                <button class="menu-toggle"></button>
            </div>
            </div>
      </nav>
      <button onclick="topFunction()" class="button-btt" id="backToTop" title="Go to top">
        <svg version="1.1" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="53px" height="20px" viewBox="0 0 53 20" enable-background="new 0 0 53 20" xml:space="preserve">
        <g id="arrowTop" fill="#654BA5" stroke-width="1">
        	<polygon points="43.886,16.221 42.697,17.687 26.5,4.731 10.303,17.688 9.114,16.221 26.5,2.312 	"></polygon>
        </g>
        </svg>
      </button>
      <div class="clearfix"></div>
    </header>

  </div>
