<!-- Hero -->
<div class="container-full">
  <div id="banner" class="hero hero--case hero--rotate row half-mast">
    <div class="column case__title">
      <p class="case__greeting text-invert">{{ include.projectname }}</p>
      <h1 class="case__headline text-invert">{{ include.tagline }}</h1>
      <div class="hero__pull-down">
        <img src="/images/pull-down-black.svg" alt="Scroll to see more.">
      </div>

    </div>
    <div class="column case__headshot">
      <picture>
        <source media="(min-width: 40rem)" srcset="{{ include.media_lg }}">
        <img src="{{ include.media_sm }}" alt="{{ include.mediaalt }}" style="width:auto;">
      </picture>
    </div>
  </div>
</div>
