<!-- Project Vision -->
  <div class="container">
    <div class="row project-objective row-center">
      <div class="column column-42-sm project-objective-statement">
        <h3 class="main-objective">{{ include.statement }}</h3>
      </div>
      <div class="column project-objective-description"><p class="objective-description">{{ include.description }}</p></div>
    </div>
    {% if include.media_lg %}

    <div class="row project-teaser">
      <div class="column column-67-sm centered-horizontally">
        <picture>
          <source media="(min-width: 40rem)" srcset="{{ include.media_lg }}">
          <img src="{{ include.media_sm }}" alt="{{ include.alt }}" style="width:auto;">
        </picture>
      </div>
    </div>

    {% else %}

    <!-- featured project media -->

    {% endif %}


  </div>
