<div class="container">
    <div class="row subsection-right row-center">
      <div class="column content pull-right padded-left">
        <h4 class="heading">{{ include.heading }}</h4>
        <p class="description">{{ include.description | markdownify }}</p>
      </div>
      <div class="column column-50-sm image pull-left">
        <picture>
          <source media="(min-width: 40rem)" srcset="{{ include.media_lg }}">
          <img src="{{ include.media_sm }}" alt="{{ include.alt }}" style="width:auto;">
        </picture>
      </div>
    </div>
  </div>
