<div class="container">
    <div class="row subsection-images row-center">
      <div class="column image">
        <picture>
          <source media="(min-width: 40rem)" srcset="{{ include.mediaone.media_lg }}">
          <img src="{{ include.mediaone.media_sm }}" alt="{{ include.mediaone.alt }}" style="width:auto;">
        </picture>
      </div>
      <div class="column image">
        <picture>
          <source media="(min-width: 40rem)" srcset="{{ include.mediatwo.media_lg }}">
          <img src="{{ include.mediatwo.media_sm }}" alt="{{ include.mediaone.alt }}" style="width:auto;">
        </picture>
      </div>
    </div>
  </div>
