

// base typography colors
// design objective
// buttons
// hero background
// final-showcase

$crimson: #C81C31
$turquoise: #4DD0E1
$dodgerblue: #4480FF
$slategray: #3B3B44
$kiwi: #4CAF50
$gold: #F4B400
$vermilion: #F44336
$lilac: #9575CD
$lochmara: #0277BD
$cerulean: #03A9F4
$hibiscus: #BD2E6E

body#crimson
	.phase__intro h3.phase__heading, .project-mono
		color: $crimson

body#turquoise
	.phase__intro h3.phase__heading, .project-mono
		color: $turquoise

body#dodgerblue
	.phase__intro h3.phase__heading, .project-mono
		color: $dodgerblue

body#slategray
	.phase__intro h3.phase__heading, .project-mono
		color: $slategray

body#kiwi
	.phase__intro h3.phase__heading, .project-mono
		color: $kiwi

body#vermilion
	.phase__intro h3.phase__heading, .project-mono
		color: $vermilion

body#lilac
	.phase__intro h3.phase__heading, .project-mono
		color: $lilac

body#lochmara
	.phase__intro h3.phase__heading, .project-mono
		color: $lochmara

body#gold
	.phase__intro h3.phase__heading, .project-mono
		color: $gold

body#cerulean
	.phase__intro h3.phase__heading, .project-mono
		color: $cerulean

body#hibiscus
	.phase__intro h3.phase__heading, .project-mono
		color: $hibiscus

// CRIMSON
body#crimson

	.hero--case
		background: $crimson

	h3.main-objective,
	h4.phase__heading
		color: $crimson

	h4.insight__heading::before
		background: $crimson

	.button.button-outline
		border: 4px solid $crimson !important
		background: transparent
		color: $crimson
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $crimson
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $crimson

	#rocket

		#rocket-window
			fill: $crimson

		#rocket-wing
			fill: $crimson
			stroke: $crimson

		#rocket-fire1
			fill: $crimson

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)

// TURQUOISE
body#turquoise

	.hero--case
		background: $turquoise

	h3.main-objective,
	h4.phase__heading
		color: $turquoise

	h4.insight__heading::before
		background: $turquoise

	.button.button-outline
		border: 4px solid $turquoise !important
		background: transparent
		color: $turquoise
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $turquoise
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $turquoise

	#rocket

		#rocket-window
			fill: $turquoise

		#rocket-wing
			fill: $turquoise
			stroke: $turquoise

		#rocket-fire1
			fill: $turquoise

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)


// DODGERBLUE
body#dodgerblue

	.hero--case
		background: $dodgerblue

	h3.main-objective,
	h4.phase__heading
		color: $dodgerblue

	h4.insight__heading::before
		background: $dodgerblue

	.button.button-outline
		border: 4px solid $dodgerblue !important
		background: transparent
		color: $dodgerblue
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $dodgerblue
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $dodgerblue

	#rocket

		#rocket-window
			fill: $dodgerblue

		#rocket-wing
			fill: $dodgerblue
			stroke: $dodgerblue

		#rocket-fire1
			fill: $dodgerblue

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)


// SLATEGRAY
body#slategray

	.hero--case
		background: $slategray

	h3.main-objective,
	h4.phase__heading
		color: $slategray

	h4.insight__heading::before
		background: $slategray

	.button.button-outline
		border: 4px solid $slategray !important
		background: transparent
		color: $slategray
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $slategray
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $slategray

	#rocket

		#rocket-window
			fill: $slategray

		#rocket-wing
			fill: $slategray
			stroke: $slategray

		#rocket-fire1
			fill: $slategray

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)

// KIWI
body#kiwi

	.hero--case
		background: $kiwi

	h3.main-objective,
	h4.phase__heading
		color: $kiwi

	h4.insight__heading::before
		background: $kiwi

	.button.button-outline
		border: 4px solid $kiwi !important
		background: transparent
		color: $kiwi
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $kiwi
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $kiwi

	#rocket

		#rocket-window
			fill: $kiwi

		#rocket-wing
			fill: $kiwi
			stroke: $kiwi

		#rocket-fire1
			fill: $kiwi

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)


// GOLD
body#gold

	.hero--case
		background: $gold

	h3.main-objective,
	h4.phase__heading
		color: $gold

	h4.insight__heading::before
		background: $gold

	.button.button-outline
		border: 4px solid $gold !important
		background: transparent
		color: $gold
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $gold
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $gold

	#rocket

		#rocket-window
			fill: $gold

		#rocket-wing
			fill: $gold
			stroke: $gold

		#rocket-fire1
			fill: $gold

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)


// VERMILION
body#vermilion

	.hero--case
		background: $vermilion

	h3.main-objective,
	h4.phase__heading
		color: $vermilion

	h4.insight__heading::before
		background: $vermilion

	.button.button-outline
		border: 4px solid $vermilion !important
		background: transparent
		color: $vermilion
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $vermilion
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $vermilion

	#rocket

		#rocket-window
			fill: $vermilion

		#rocket-wing
			fill: $vermilion
			stroke: $vermilion

		#rocket-fire1
			fill: $vermilion

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)

// LILAC
body#lilac

	.hero--case
		background: $lilac

	h3.main-objective,
	h4.phase__heading
		color: $lilac

	h4.insight__heading::before
		background: $lilac

	.button.button-outline
		border: 4px solid $lilac !important
		background: transparent
		color: $lilac
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $lilac
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $lilac

	#rocket

		#rocket-window
			fill: $lilac

		#rocket-wing
			fill: $lilac
			stroke: $lilac

		#rocket-fire1
			fill: $lilac

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)


// LOCHMARA
body#lochmara

	.hero--case
		background: $lochmara

	h3.main-objective,
	h4.phase__heading
		color: $lochmara

	h4.insight__heading::before
		background: $lochmara

	.button.button-outline
		border: 4px solid $lochmara !important
		background: transparent
		color: $lochmara
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $lochmara
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $lochmara

	#rocket

		#rocket-window
			fill: $lochmara

		#rocket-wing
			fill: $lochmara
			stroke: $lochmara

		#rocket-fire1
			fill: $lochmara

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)


// CERULEAN
body#cerulean

	.hero--case
		background: $cerulean

	h3.main-objective,
	h4.phase__heading
		color: $cerulean

	h4.insight__heading::before
		background: $cerulean

	.button.button-outline
		border: 4px solid $cerulean !important
		background: transparent
		color: $cerulean
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $cerulean
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4,
	.subsection-right .content h4,
	.subsection-images .content h4,
	.subsection-centered .content h4


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $cerulean

	#rocket

		#rocket-window
			fill: $cerulean

		#rocket-wing
			fill: $cerulean
			stroke: $cerulean

		#rocket-fire1
			fill: $cerulean

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)

// HIBISCUS
body#hibiscus

	.hero--case
		background: $hibiscus

	h3.main-objective,
	h4.phase__heading
		color: $hibiscus

	h4.insight__heading::before
		background: $hibiscus

	.button.button-outline
		border: 4px solid $hibiscus !important
		background: transparent
		color: $hibiscus
		transition: all .5 ease-in-out

		&:focus,
		&:hover
			color: $white
			background: $hibiscus
			border-width: 1px

	.phase-icon-discover,
	.phase-icon-execution,
	.phase-icon-solution
		display: none

	.subsection-left .content h4.heading,
	.subsection-right .content h4.heading,
	.subsection-images .content h4.heading,
	.subsection-centered .content h4.heading


	#gr-double-diamond-discover,
	#gr-double-diamond-execution

		#discovery, #execution
			stroke: fade-out($midgray, .3)

		#ship
			fill: fade-out($midgray, .3)

		#highlight
			fill: $hibiscus

	#rocket

		#rocket-window
			fill: $hibiscus

		#rocket-wing
			fill: $hibiscus
			stroke: $hibiscus

		#rocket-fire1
			fill: $hibiscus

		#rocket-fire2,
		#rocket-body,
		#Line,
		#exhaust1,
		#exhaust2
			stroke: fade-out($midgray, .3)
