#case--epldt
	
	overflow: hidden

	.hero--rotate
		position: relative

		.case__headshot picture,
		.case__headshot img
			//@include shadowed(0, 24px, 24px, fade-out(black, .72))
			transform: translateX(-50%) translateY(-50%)
			transition: all .7s ease-in-out
			top: 0%
			left: 50%
			max-width: 150%
			position: absolute


#case--digicon

	.hero--rotate
		position: relative

		.case__headshot picture,
		.case__headshot img
			@include shadowed(24px, 24px, 24px, fade-out(black, .72))
			transform: translateX(-50%) translateY(-50%)
			left: 50%

#case--clockenflap
	overflow: hidden

	.case__headshot picture,
	.case__headshot img
		filter: none !important
		transform: translateX(-50%) translateY(-50%)
		transition: all .7s ease-in-out
		top: 0
		right: 0
		max-width: 240%

#case--kite

	.hero--rotate
		position: relative

		.case__headshot picture,
		.case__headshot img
			transform: translateX(-50%) translateY(-50%)
			transition: all .7s ease-in-out
			top: 100%
			left: 55%
			max-width: 180%

#case--nimbyx
	overflow: hidden

	.hero--rotate
		position: relative

		.case__headshot picture,
		.case__headshot img
			transform: translateX(-50%) translateY(-50%)
			transition: all .7s ease-in-out
			top: 0%
			left: 50%
			max-width: 150%

#case--jdsvoice
	overflow: hidden

	.hero--rotate
		position: relative

		.case__headshot picture,
		.case__headshot img
			transform: translateX(-50%) translateY(-50%)
			transition: all .7s ease-in-out
			top: 20%
			left: 50%
			width: 100%

@media (min-width: 40rem)

	#case--epldt

		.hero--rotate

			.case__headshot picture,
			.case__headshot img
				//transform: translateX(-50%) translateY(-50%)
				width: 70%
				top: 50%
				right: 60
				@include shadowed(0, 10px, 10px, fade-out($black, .82))

	#case--clockenflap

		.hero--rotate

			.case__headshot picture,
			.case__headshot img
				width: 65%
				right: 0
				top: 55%

	#case--kite
		overflow: hidden

		.hero--rotate
			position: relative

			.case__headshot picture,
			.case__headshot img
				transform: translateX(-50%) translateY(-50%)
				top: 60%
				left: 50%
				max-width: 280%

	#case--nimbyx

		.hero--rotate

			.case__headshot picture,
			.case__headshot img
				transform: translateX(-50%) translateY(-50%)
				@include shadowed(0, 10px, 10px, fade-out(black, .90))
				top: 50%
				left: 50%
				max-width: 300%

	#case--jdsvoice

		.hero--rotate

			.case__headshot picture,
			.case__headshot img
				top: 50%
				left: 50%
				width: 100%
