{% include header.html %}

<div class="container">
  <div class="row header-large">
    <div class="column">
      <h1>Hi, I'm Ellesa.</h1>
      <p>Pleased to meet you.</p>
        {{ content }}
      </div>

    </div>

  </div>

<div class="container">
  <div class="row row-center about">
      <div class="column">
        <p>I'm a UX designer based in Manila, regularly traveling to Amsterdam.</p>
        <ol>
          <li>Illustrator <i class="em-svg em-mostly_sunny"></i></li>
          <li>Cartography nerd <i class="em em-world_map"></i></li>
          <li>Coffee lover <i class="em-svg em-coffee"></i></li>
          <li>Surfer <i class="em-svg em-woman-surfing"></i></li>
          <li>Gamer <i class="em-svg em-dragon_face"></i></li>
        </ol>
      </div>
      <div class="column column-50-sm photo pull-left">
        <picture>
          <source media="(min-width: 40rem)" srcset="/images/photo-training@2x.jpg">
          <img src="/images/photo-training@2x.jpg" alt="Flowers" style="width:auto;">
        </picture>
      </div>
    </div>
</div>

<div class="container">
  <div class="spacer"></div>
  <div class="row about row-center half-mast">
    <div class="column bio column-50-sm pull-right">
      <p>I'm always curious about how things work, or what makes things beautiful. And I'm fascinated by really clever designs. </p>
      <p>I'm a passionate problem solver, so you can often find me gleefully solutioneering with a <i class="em-svg em-rainbow"></i> rainbow of pens, markers, post-its and my favorite Rocketpad. </p>
      <p>When I’m not designing, you would find me <i class="em-svg em-video_game"></i> playing League, <i class="em-svg em-thought_balloon"></i> writing with my latest thoughts on my blog, playing football <i class="em-svg em-soccer"></i> or reading books upside down. <i class="em-svg em-books"></i></p>
    </div>

    <div class="column column-50-sm pull-left photo" style="position: relative;">
      <picture>
        <source media="(min-width: 40rem)" srcset="/images/photo-beijing@2x.jpg">
        <img src="/images/photo-beijing@2x.jpg" alt="Flowers" style="width:auto;">
      </picture>

    </div>

  </div>
  <div class="spacer clearfix"></div>
  <div class="row about row-top">

    <div class="column work-experiences pull-left">
      <div class="employment">
        <h6 class="section-label">Work Experiences</h6>
        <div class="exp work--aigent">
          <h4 class="company">Aigent, B.V.</h4>
          <h5 class="position">UX Researcher</h5>
          <h5 class="duration">
            <span class="duration_start">Sep 2018</span>
            <span class="duration_end">Present</span>
          </h5>
        </div>

        <div class="exp work--cambridge">
          <h4 class="company">Cambridge University Press</h4>
          <h5 class="position">UX Manager</h5>
          <h5 class="duration">
            <span class="duration_start">Oct 2018</span>
            <span class="duration_end">Mar 2019</span>
          </h5>
        </div>

        <div class="exp work--epldt">
          <h4 class="company">ePLDT</h4>
          <h5 class="position">Sr. UX Designer</h5>
          <h5 class="duration">
            <span class="duration_start">Oct 2016</span>
            <span class="duration_end">Jul 2018</span>
          </h5>
        </div>

        <div class="exp work--nimbyx">
          <h4 class="company">Nimbyx</h4>
          <h5 class="position">UX/UI Developer</h5>
          <h5 class="duration">
            <span class="duration_start">Nov 2015</span>
            <span class="duration_end">Jul 2016</span>
          </h5>
        </div>

        <div class="exp work--kite">
          <h4 class="company">Kite Systems</h4>
          <h5 class="position">Lead UI Designer</h5>
          <h5 class="duration">
            <span class="duration_start">Sep 2014</span>
            <span class="duration_end">Nov 2015</span>
          </h5>
        </div>

        <div class="exp work--other">
          <h4 class="company">Independent Designer</h4>
          <h5 class="position">Sr. UX Designer</h5>
          <h5 class="duration">
            <span class="duration_start">Sep 2008</span>
            <span class="duration_end">Jul 2013</span>
          </h5>
        </div>
      </div>

      <div class="startup">
        <h6 class="section-label">Startup Work</h6>
        <div class="exp work--cheqrx">
          <h4 class="company">CheqRx</h4>
          <h5 class="position">Sr. UX Designer</h5>
          <h5 class="duration">
            <span class="duration_start">Jun 2016</span>
            <span class="duration_end">Feb 2017</span>
          </h5>
        </div>
      </div>
    </div>

    <div class="column other-experiences pull-right">
      <div class="education">
        <h6 class="section-label">Education and Trainings</h6>
        <div class="exp educ--dtcertification">
          <h4 class="organization">AJ&Smart</h4>
          <h5 class="course">Design Thinking Master Course</h5>
          <h5 class="when">Ongoing</h5>
        </div>
        <div class="exp educ--uxcertification">
          <h4 class="organization">Nielsen-Norman Group</h4>
          <h5 class="course">UX Certification Training, Hong Kong</h5>
          <h5 class="when">2019</h5>
        </div>

        <div class="exp educ--uxcertification">
          <h4 class="organization">OnOff Group</h4>
          <h5 class="course">UX Certification Training</h5>
          <h5 class="when">2018</h5>
        </div>

        <div class="exp educ--degree">
          <h4 class="company">Xavier University Ateneo de Cagayan</h4>
          <h5 class="course">Computer Science, Bachelor's Degree</h5>
          <h5 class="when">2003</h5>
        </div>
      </div>

      <div class="leadership">
        <h6 class="section-label">Leadership Experience</h6>
        <div class="exp leadership--lead">
          <h4 class="organization">Cambridge University Press</h4>
          <h5 class="role">UX Manager</h5>
          <h5 class="when">2018</h5>
        </div>
        <div class="exp leadership--lead">
          <h4 class="organization">Kite Systems</h4>
          <h5 class="role">Lead Designer</h5>
          <h5 class="when">2015</h5>
        </div>
        <div class="exp leadership--mentorship">
          <h4 class="organization">PLDT Student Camp</h4>
          <h5 class="role">Camp Mentor</h5>
          <h5 class="when">2017</h5>
        </div>

        <div class="exp leadership--hackathon">
          <h4 class="organization">Nimbyx International Hackathon</h4>
          <h5 class="role">Team Captain</h5>
          <h5 class="when">2016</h5>
        </div>

        <div class="exp leadership--sports">
          <h4 class="organization">ePLDT Football Club</h4>
          <h5 class="role">Vice Captain</h5>
          <h5 class="when">2018</h5>
        </div>
      </div>

    </div>
    <div class="column column-50-sm photo pull-right">
      <p class="about__greeting"><img class="video-centered" src="/media/name.gif" alt="">
        </p>
        <a href="#" class="button-clear button-hear">/ə-ljɛz-əh/
        <i class="em em-speaker"></i></a>
          <audio id="pronounce" preload="auto">>
             <source src="/media/name.mp3"></source>
             <source src="/media/name.ogg"></source>
             Your browser isn't invited for super fun audio time.
          </audio>
    </div>


  </div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
  <div class="spacer"></div>
</div>

{% include footer.html %}
