{% include header.html %}


<div class="container">
  <div class="row row-wrap hero-video">
      <div class="column column-50-sm centered-horizontally" style="margin: 4rem 0">
        <picture>
          <source media="(min-width: 40rem)" srcset="{{ page.media_lg }}">
          <img src="{{ page.media_sm }}" alt="{{ page.alt }}" style="width:auto;">
        </picture>
      </div>
      </div>
      <div class="row row-wrap">
        <div class="column support-text">
          <h3 class="text-centered">We have a dam problem</h3>
          <h6 class="text-centered">ΛΑΘΟΣ 404 <br> ΣΕΛΙΔΑ ΔΕΝ ΒΡΕΘΗΚΕ</h6>
          <p class="text-centered">The page you are looking for appears to have been moved, deleted or hidden within the Mist.  </p>
          <p class="text-centered">You could try using the menu at the top right or try these helpful links as well:</p>
          <p class="text-centered"><a href="/">Home</a> &mdash;  <a href="/work.html">Work</a> &mdash; <a href="/about.html">About</a</p>
        </div>

      </div>
      <div class="spacer"></div>
      <div class="spacer"></div>
      <div class="spacer"></div>
</div>

{% include footer.html %}
