{% include header.html %}

<div class="container-full">
  <div class="wrapper">
    <div id="banner" class="hero row full-height">
      <div class="column">
        <p class="hero__greeting"> Hello! I'm Ellesa.</p>
        <h1 class="hero__headline">Digital product designer,<br>
        with a knack for<br><span class="effect--typed skillset"></span></h1>
        <div class="hero__cta">
          <a class="button button-outline" href="mailto:els@skyellesa.com">Contact me</a>
          <a class="button button-clear" href="#career">Discover my work  <i class="fas fa-sm fa-arrow-down"></i></a>
        </div>
        <div class="hero__pull-down">
          <img src="/images/pull-down-black.svg" alt="Scroll to see more.">
        </div>
      </div>
    </div>

    </div>
</div>


  <div id="showcase" class="container-full violator">
    <div class="row row-wrap row-no-padding">
      <div class="column">
        <h3>7+ years of experience,<br>
        designing products and helping businesses</h3>
      </div>
      <div class="column" style="text-align: center">
        <a href="/resume/" class="button button-outline">View resume</a><br>
        <a href="/about" class="button button-clear">Learn more about me</a>
      </div>
    </div>
    <div class="spacer clearfix"></div>
    <div class="row showcase">

        <div class="column project-card project-card--digicon">
          <div class="project-details">
            <h3 class="project-name">{{ site.data.projects[0].name }}</h3>
            <h5 class="project-role">{{ site.data.projects[0].role }}</h5>
          </div>
          <div class="project-shot">
            <a href="{{ site.data.projects[0].link }}">
              <picture>
                <source media="(min-width: 40rem)" srcset="/images/shots/digicon/digicon-showcase@sm.png">
                <img src="/images/shots/digicon/digicon-showcase@sm.png" alt="Flowers">
              </picture></a>
            <span class="project-mono dead-centered">D</span>
          </div>
        </div>


        <div class="column project-card project-card--clockenflap">
          <div class="project-details">
            <h3 class="project-name">{{ site.data.projects[1].name }}</h3>
            <h5 class="project-role">{{ site.data.projects[1].role }}</h5>
          </div>
          <div class="project-shot">
            <a href="{{ site.data.projects[1].link }}"><picture class="dead-centered">
                <source media="(min-width: 40rem)" srcset="/images/shots/clockenflap/clockenflap-showcase@sm.png">
                <img src="/images/shots/clockenflap/clockenflap-showcase@sm.png" alt="Flowers">
              </picture></a>
            <span class="project-mono dead-centered">C</span>
          </div>
        </div>



        <div class="column project-card project-card--jdsvoice">
          <div class="project-details">
            <h3 class="project-name">{{ site.data.projects[2].name }}</h3>
            <h5 class="project-role">{{ site.data.projects[2].role }}</h5>
          </div>
          <div class="project-shot">
            <a href="{{ site.data.projects[2].link }}"><picture class="dead-center">
                <source media="(min-width: 40rem)" srcset="/images/shots/jdsvoice/jds-showcase@sm.png">
                <img src="/images/shots/jdsvoice/jds-showcase@sm.png" alt="Flowers">
              </picture></a>
            <span class="project-mono dead-center">J</span>
          </div>
        </div>






    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="column" style="text-align: center; padding-right: 3rem"><a href="/work">Turn over to see more <br><i class="em-svg em-point_right"></i></a></div>
    </div>
  </div>

{% include footer.html %}
