{% include header.html %}

<div class="container-full">
  <div class="wrapper">
    <div id="banner" class="hero row full-height">
      <div class="column">
        <p class="hero__greeting"> Hello! I'm Ellesa.</p>
        <h1 class="hero__headline">Digital product designer,<br>
        with a knack for<br><span class="effect--typed skillset"></span></h1>
        <div class="hero__cta">
          <a class="button button-outline" href="mailto:els@skyellesa.com">Contact me</a>
          <a class="button button-clear" href="#career">Discover my work  <i class="fas fa-sm fa-arrow-down"></i></a>
        </div>
        <div class="hero__pull-down">
          <img src="/images/pull-down-black.svg" alt="Scroll to see more.">
        </div>
      </div>
    </div>

    <div id="career">

          <!-- Showcase Aigent -->
          <div class="row case case--aigent">
            <div class="column pull-right">
              <div class="case-shot">
                <picture>
                  <source media="(min-width: 40rem)" srcset="/images/cases/epldt/headshot.png">
                  <img src="/images/cases/epldt/headshot@sm.png" alt="Flowers" style="width:auto;">
                </picture>
              </div>
            </div>
            <div class="column column-42-sm">
              <div class="case-details pull-left">
                <h2 class="company">Better customer service <br>through AI</h2>
                <h5 class="position">UX Researcher at Aigent</h5>
                <h5 class="duration">
                  <span class="duration_start">Sep 2018</span>
                  <span class="duration_end">Present</span>
                </h5>
                <p class="description">As the sole UX practitioner, I developed and oversaw Wizard of Oz programs across a large testing group to validate AI-based product features, saving hundreds of man hours every quarter. I also developed and managed the Aigent design system.</p>
                <a href="/work/aigent" class="button button-outline">Read Case Study →</a>
              </div>
            </div>

          </div>

          <!-- Showcase Cambridge -->
          <div class="row case case--cambridge">
            <div class="column pull-right">
              <div class="case-shot">
                <picture>
                  <source media="(min-width: 40rem)" srcset="/images/cases/epldt/headshot.png">
                  <img src="/images/cases/epldt/headshot@sm.png" alt="Flowers" style="width:auto;">
                </picture>
              </div>
            </div>
            <div class="column column-42-sm">
              <div class="case-details pull-left">
                <h2 class="company">Building the foundation of a design-driven culture</h2>
                <h5 class="position">UX Manager at Cambridge University Press</h5>
                <h5 class="duration">
                  <span class="duration_start">Oct 2018</span>
                  <span class="duration_end">Mar 2019</span>
                </h5>
                <p class="description">Managing a global team of 8 designers, I started the company’s first UX Center of Practice. I worked closely with the agile leads to lay the groundwork for operationalizing design and research, developing the UX KPI scorecard and advocating for a design-driven culture.</p>
                <a href="/work/cambridge" class="button button-outline">Read Case Study →</a>
              </div>
            </div>

          </div>

          <!-- Showcase ePLDT -->
          <div class="row case case--epldt">
            <div class="column pull-right">
              <div class="case-shot">
                <picture>
                  <source media="(min-width: 40rem)" srcset="/images/cases/epldt/headshot.png">
                  <img src="/images/cases/epldt/headshot@sm.png" alt="Flowers" style="width:auto;">
                </picture>
              </div>
            </div>
            <div class="column column-42-sm">
              <div class="case-details pull-left">
                <h2 class="company">Redefining the Enterprise Experience</h2>
                <h5 class="position">Sr. UX Designer at ePLDT</h5>
                <h5 class="duration">
                  <span class="duration_start">Oct 2016</span>
                  <span class="duration_end">Jul 2018</span>
                </h5>
                <p class="description">As part of the company’s key innovation group, I helped ePLDT tackle some tough problems from designing customer experiences to establishing design strategy for cross functional teams.</p>
                <a href="/work/epldt" class="button button-outline">Read Case Study →</a>
              </div>
            </div>

          </div>

          <!-- Showcase Nimbyx -->
          <div class="row case case--nimbyx">
            <div class="column pull-right">
              <div class="case-shot">
                <picture>
                  <source media="(min-width: 40rem)" srcset="images/cases/nimbyx/headshot.png">
                  <img src="images/cases/nimbyx/headshot@sm.png" alt="Flowers" style="width:auto;">
                </picture>
              </div>
            </div>
            <div class="column column-42-sm pull-left">
              <div class="case-details">
                <h2 class="company">Digitally Transforming the Dental Industry</h2>
                <h5 class="position">UX Engineer at Nimbyx</h5>
                <h5 class="duration">
                  <span class="duration_start">Oct 2015</span>
                  <span class="duration_end">Jul 2016</span>
                </h5>
                <p class="description">Working on the company's flagship products, Evident Labs and Nimbyx ecosystem, I took charge of designing and developing the style guide and CSS frameworks. Handling research, wireframing, prototyping, high-fidelity mockups and user flows, I saved hours of development time, by working closely with clients to rapidly iterate on UI solutions.</p>
                <a href="/work/nimbyx" class="button button-outline">Read Case Study →</a>
              </div>
            </div>

          </div>

          <!-- Showcase Kite Systems -->
          <div class="row case case--kite">
            <div class="column pull-right">
              <div class="case-shot">
                <picture>
                  <source media="(min-width: 40rem)" srcset="images/cases/kite/headshot.png">
                  <img src="images/cases/kite/headshot@sm.png" alt="Flowers" style="width:auto;">
                </picture>
              </div>
            </div>
            <div class="column column-42-sm pull-left">
              <div class="case-details">
                <h2 class="company">Wearing the Creative Cape in a Full-stack World</h2>
                <h5 class="position">Lead UI Designer and Developer at Kite Systems</h5>
                <h5 class="duration">
                  <span class="duration_start">Sept 2014</span>
                  <span class="duration_end">Oct 2015</span>
                </h5>
                <p class="description">I worked with an international team of developers and designers for the company's key projects: NAVGlobal, a multinational finance and wealth management app, Clockenflapp, an event app for HongKong's biggest music festival and CNNGo+Travel, CNN's answer to Netflix.</p>
                <a href="/work/kite" class="button button-outline">Read Case Study →</a>
              </div>
            </div>

          </div>

          <!-- Showcase Independent -->
          <div class="row case case--independent">
            <div class="column pull-right">
              <div class="case-shot">
                <picture>
                  <source media="(min-width: 40rem)" srcset="images/shots/independent.png">
                  <img src="images/shots/independent@sm.png" alt="Flowers" style="width:auto;">
                </picture>
              </div>
            </div>
            <div class="column column-42-sm pull-left">
              <div class="case-details">
                <h2 class="company">Helping Businesses Transform and Succeed in a Digital World</h2>
                <h5 class="position">Independent Designer</h5>
                <h5 class="duration">
                  <span class="duration_start">Oct 2010</span>
                  <span class="duration_end">May 2015</span>
                </h5>
                <p class="description">Over the years, I gained experience and fine-tuned my process by helping organizations innovate, transform and succeed in a digital world. Through design, I've helped brands set themselves up for true business success, embedding customer-centered thinking into everything they do. </p>
                <a href="/work/" class="button button-outline">Discover more of my work →</a>
              </div>
            </div>
          </div>



    </div>
    </div>
</div>


  <div id="showcase" class="container-full violator">
    <div class="row row-wrap row-no-padding">
      <div class="column">
        <h3>7+ years of experience,<br>
        designing products and helping businesses</h3>
      </div>
      <div class="column" style="text-align: center">
        <a href="/resume/" class="button button-outline">View resume</a><br>
        <a href="/about" class="button button-clear">Learn more about me</a>
      </div>
    </div>
    <div class="spacer clearfix"></div>
    <div class="row showcase">

        <div class="column project-card project-card--digicon">
          <div class="project-details">
            <h3 class="project-name">{{ site.data.projects[0].name }}</h3>
            <h5 class="project-role">{{ site.data.projects[0].role }}</h5>
          </div>
          <div class="project-shot">
            <a href="{{ site.data.projects[0].link }}">
              <picture>
                <source media="(min-width: 40rem)" srcset="/images/shots/digicon/digicon-showcase@sm.png">
                <img src="/images/shots/digicon/digicon-showcase@sm.png" alt="Flowers">
              </picture></a>
            <span class="project-mono dead-centered">D</span>
          </div>
        </div>


        <div class="column project-card project-card--clockenflap">
          <div class="project-details">
            <h3 class="project-name">{{ site.data.projects[1].name }}</h3>
            <h5 class="project-role">{{ site.data.projects[1].role }}</h5>
          </div>
          <div class="project-shot">
            <a href="{{ site.data.projects[1].link }}"><picture class="dead-centered">
                <source media="(min-width: 40rem)" srcset="/images/shots/clockenflap/clockenflap-showcase@sm.png">
                <img src="/images/shots/clockenflap/clockenflap-showcase@sm.png" alt="Flowers">
              </picture></a>
            <span class="project-mono dead-centered">C</span>
          </div>
        </div>



        <div class="column project-card project-card--jdsvoice">
          <div class="project-details">
            <h3 class="project-name">{{ site.data.projects[2].name }}</h3>
            <h5 class="project-role">{{ site.data.projects[2].role }}</h5>
          </div>
          <div class="project-shot">
            <a href="{{ site.data.projects[2].link }}"><picture class="dead-center">
                <source media="(min-width: 40rem)" srcset="/images/shots/jdsvoice/jds-showcase@sm.png">
                <img src="/images/shots/jdsvoice/jds-showcase@sm.png" alt="Flowers">
              </picture></a>
            <span class="project-mono dead-center">J</span>
          </div>
        </div>






    </div>
    <div class="spacer"></div>
    <div class="row">
      <div class="column" style="text-align: center; padding-right: 3rem"><a href="/work">Turn over to see more <br><i class="em-svg em-point_right"></i></a></div>
    </div>
  </div>

{% include footer.html %}
